<!DOCTYPE html>
<html>

<head>
    <title>gotdiff</title>
    <meta name="description" content="gotdiff" />
    <meta property="og:title" content="gotdiff" />
    <meta property="og:description" content="gotdiff" />
    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" type="text/css"
        href="https://githubraw.com/alvaromontoro/almond.css/master/dist/almond.css" />
    <script async defer src="http://localhost:35729/livereload.js"></script>
    <script async defer src="../public/index.jsx"></script>
</head>

<body>
    <div id="root"></div>
</body>

</html>