<!DOCTYPE html>
<html>

<head>
    <title>Gotdiff</title>
    <meta name="description" content="Gotdiff" />
    <meta property="og:title" content="Gotdiff" />
    <meta property="og:description" content="Gotdiff" />
    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" type="text/css"
        href="https://githubraw.com/alvaromontoro/almond.css/master/dist/almond.css" />
    {%- livereload %}
    <script async defer src="../public/index.jsx"></script>
    <script defer data-api="https://c.gotdiff.com/api/event" data-domain="gotdiff.com" src="c.js"></script>
</head>

<body>
    <div id="root"></div>
</body>

</html>